* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  background: rgb(236, 74, 20);
  background: linear-gradient(
    135deg,
    rgba(236, 74, 20, 1) 0%,
    rgba(233, 115, 4, 1) 38%,
    rgba(255, 187, 60, 1) 66%,
    rgba(228, 31, 67, 0.753) 89%
  );
}
.logo {
  font-size: 23px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Lato", sans-serif;
  padding-left: 4em;
  padding-top: 0.2em;
}
ul {
  display: flex;
  padding-top: 0.6em;
  padding-right: 3em;
}
li {
  padding-left: 2em;
  list-style: none;
}
a {
  color: rgb(255, 255, 255);
  font-size: 19px;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Dongle", sans-serif;
}
a:hover {
  color: rgba(29, 25, 25, 0.486);
  transition: all ease 200ms;
}
#icon {
  color: rgb(255, 255, 255);
  font-size: 30px;
  float: right;
  cursor: pointer;
  margin-right: 50px;
  line-height: 80px;
  display: none;
}
/* resposive nav style */
@media (max-width: 1048px) {
  .logo {
    position: relative;
    left: -60px;
    top: 8px;
    color: #000;
    font-size: 1.6em;
  }
  nav ul {
    margin-right: 20px;
  }
  nav #icon {
    display: flex;
    color: black;
    padding-top: -2em;
    padding-left: 4em;
  }
  nav a {
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
}
@media (max-width: 909px) {
  #icon {
    display: inline-block;
    color: black;
    padding-top: 0.7em;
  }
  nav ul {
    display: inline;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(236, 74, 20);
    background: linear-gradient(
      135deg,
      rgba(236, 74, 20, 1) 0%,
      rgba(233, 115, 4, 1) 38%,
      rgba(255, 187, 60, 1) 76%,
      rgba(228, 31, 67, 0.753) 100%
    );
    top: 50px;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
  }
  nav li {
    line-height: 101px;
    padding-right: 0.7em;
  }
  nav a {
    font-size: 20px;
    color: white;
  }
  nav ul.show {
    left: 0;
    z-index: 6;
  }
  nav {
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background: rgb(255, 255, 255);
  }
}
/* body style */
.hero {
  height: 89.7vh;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  overflow-x: hidden;
}
.title {
  font-weight: bold;
  animation: fadeIn 1.6s ease-in;
}
button {
  padding: 0.3em 0.5em;
  background-color: #f26522;
  color: white;
  border: none;
  margin-top: 1em;
  font-weight: 600;
  transition: letter-spacing 300ms ease;
}
button:hover {
  letter-spacing: 2px;
}
.pic {
  text-align: right;
  padding: 6em 2em;
  animation: drop 1.2s ease-in-out;
}
.group {
  padding-top: 7em;
  padding-left: 5em;
  padding-right: 13em;
  animation: slider 1.3s ease-in-out forwards;
}
img {
  height: 500px;
  width: auto;
}
.space {
  display: none;
}

/*         section 2 */
.hero-2 {
  height: 89.7vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 40%;
}
.group-2 {
  text-align: right;
  padding: 7em 5em 0em 12em;
}
.pic-2 {
  padding-top: 4em;
  padding-left: 3em;
  padding-right: 13em;
}

/*       section 3*/
.hero-3 {
  height: 89.7vh;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}
.title {
  font-weight: bold;
  animation: fadeIn 1.6s ease-in;
}
.pic-3 {
  text-align: right;
  padding: 3em 2em;
}
.group-3 {
  padding-top: 4em;
  padding-left: 5em;
  padding-right: 13em;
}
.fade-in {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}

@media (max-width: 900px) {
  .hero {
    display: inline-block;
    height: 195vh;
    width: 100%;
    overflow-x: hidden;
  }
  label svg {
    height: 16px;
  }
  .title {
    padding-top: 10%;
    padding-bottom: 0.7em;
    margin-left: 3%;
    margin-right: 3%;
    animation: fadeIn 1s ease-in;
  }
  img {
    height: 300px;
    animation: drop 1.2s ease-in-out;
  }
  .small-group {
    padding: 1em 1em;
    text-align: center;
    animation: slider 1.3s ease-in-out forwards;
  }
  .space {
    display: inline-block;
  }
  .small-pic {
    text-align: center;
    padding: 4em 0em;
    animation: drop 1.2s ease-in-out;
  }
  .hero-2 {
    height: 89.7vh;
    width: 100%;
    display: inline-block;
  }
  .group-2 {
    text-align: center;
    padding: 1em 1em 1em 1.3em;
  }
  .pic-2 {
    padding-top: 0em;
    padding-bottom: 0em;
  }
  .hero-3 {
    height: 89.7vh;
    width: 100%;
    display: inline-block;
  }
  .group-3 {
    text-align: center;
    padding: 2em 1em 1em 1em;
  }
  .pic-3 {
    padding-top: 12em;
    padding-bottom: 3em;
  }
}

/*       key frames */

@keyframes drop {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes slider {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.from-left {
  transform: translateX(-50%);
  opacity: 0;
}
.from-right {
  transform: translateX(50%);
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transition: all 1s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}
